.footer {
  background-color: #2196f3;
  max-height: 200px;
  width: 100%;
  padding: 20px 40px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo__wrapper {
  max-width: 50px;
  max-height: 50px;

  &>img {
    width: 100%;
  }
}