.container {
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &>div {
    font-size: 1.25rem;
    padding: 5px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom: 2px solid #2196f3;
  }
}