.container {
  padding: 10px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
}

.form_title {
  text-align: left;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.form {
  min-width: 480px;
}